.app {
  display: flex;
  text-align: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.generator {
  width: 500px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: rgb(54, 201, 251);
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.generator:hover {
  border-color: gray;
  background-color: #3fa1f1;
}

.generator:focus,
.generator:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.history, .ban {
  width: 300px;
  border: 1px solid white;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1em;
  margin-top: 2em;
}

.history-item {
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.history-item, .history-item img {
  max-width: 200px;
}

.history-item-name {
  background: gray;
  color: black;
  padding: 0.2em;
}

.banned-item {
  width: 200px;
  padding: 1em;
  border-radius: 5px;
  background: red;
  cursor: pointer;
}

.banned-item:hover {
  background: darkred;
}

.boxed {
  border: 1px solid white;
  background: lightgray;
  color: black;
  padding: 0.1em;
}

.card {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.card img {
  width: 350px;
  border-radius: 1em;
  box-shadow: 0 0 10px 3px gray;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.choices-div {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.choice {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.choice:hover {
  background: red;
  outline: 4px auto -webkit-focus-ring-color;
}